/*  Header (title + close icon) */
.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  font-size: 20px;
  font-weight: 600;
  color: #ec1562;
  background: #fafafa;
  border-bottom: 1px solid #e0e0e0;

  .close-btn {
    background-color: transparent !important; /* remove bg */
    box-shadow: none !important;
    border-radius: 50%;
    color: #555;
    transition: color 0.2s ease-in-out;

    /* 👇 remove Material ripple background color */
    &::before,
    &::after,
    .mat-mdc-button-persistent-ripple,
    .mat-mdc-button-ripple {
      background: transparent !important;
    }

    /* optional: remove focus ring */
    &:focus {
      outline: none;
    }

    mat-icon {
      font-size: 22px !important;
      font-weight: 600;
    }

    &:hover {
      color: #000;
      background-color: #f3f3f3; // optional hover color
    }
  }
}

/*  Form layout: each field one row */
.form-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 600px;
  margin: 0 auto; /* center form */
  width: 100%;

  mat-form-field {
    width: 100%;
  }
}

/* Dialog content area */
.dialog-content {
  padding: 24px !important;
  background: #fff;
}

/*  Footer actions (Cancel / Save) */
.dialog-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 24px;
//   background: #fafafa;
//   border-top: 1px solid #e0e0e0;

  button {
    flex: 0 0 120px;
    padding: 12px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: #ec1562;

    &:hover {
      background-color: #f50458;
    }
  }

  .back-btn {
    background-color: #a61eea;

    &:hover {
      background-color: #a109ed;
    }
  }
}
