$primary-color: #75151d;
$primary-light: #891b24;
$primary-dark: #59050c;
$secondary-color: #7f403d;
$secondary-light: #891b24;

$success-color: #81ba00;
$error-color: #dc3545;
$info-color   : #00a8ff;
$warning-color: #3ECC8F;
$danger-color: #FA7E62 ;
$white-color:#ffffff;
$light-color   : #efeff3; //#f8f8f9 ;
$semi-dark  :#aaaaaa;
$light-semi-gray   :#eff0f1;
$light-gray   :#e8ebf2;
$dark-gray 	:#898989;
$dark-color   : #2a3142;
$gray-60   :#999999 ;
$transparent-color: transparent;
//$menubg-color: #370B39;

$auth-bg-color:#f8f9fa;
$border-color: #e0e0e0;
$shadow-color: rgba(0, 0, 0, 0.1);
