.card-header {
  background-color: #ffffff;
  border-bottom: none;
  padding: 10px;
  border-bottom: 1px solid #efeff3;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 15px;
}

.card-body {
  padding: 30px;
  background-color: transparent;
}
