.form-container {
  max-width: 1200px;
  margin: auto;
  padding: 24px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #ec1562;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 960px) {
    grid-template-columns: repeat(3, 1fr);
  }

  // @media (min-width: 1280px) {
  //   grid-template-columns: repeat(3, 1fr);
  // }
}

mat-form-field {
  width: 100%;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;

  button {
    flex: 0 0 120px;
    padding: 12px;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: #ec1562;

    &:hover {
      background-color: #f50458;
    }
  }

  .back-btn {
    background-color: #a61eea;

    &:hover {
      background-color: #a109ed;
    }
  }
}
