<app-loader [loading]="loading"></app-loader>

<mat-card class="card-body" appearance="outlined">
  <div class="add-button">
    <div class="file-upload-container">
      <button mat-raised-button (click)="importDocument()">Import</button>

      <button mat-raised-button (click)="loadCaseTemplate()">Load Template</button>
      <button mat-raised-button (click)="populateCaseData()">Insert Data</button>
      <button mat-raised-button (click)="extractCaseData()">Extract Data</button>

      <input type="file" #fileInput hidden (change)="onFileSelected($event)" accept=".docx" />
      <button mat-raised-button class="clear-btn" (click)="resetDocument()">Clear</button>
    </div>

    <button mat-raised-button (click)="exportDocument()">Export</button>
  </div>

  <div class="superdoc-container">
    <div class="toolbar-wrapper">
      <div id="superdoc-toolbar" class="toolbar-content"></div>
    </div>
    <div id="superdoc"></div>
  </div>
</mat-card>
