<mat-card class="card-body" appearance="outlined">
  <div class="add-button">
    <div class="file-upload-container">
      <button mat-raised-button (click)="openFile()">Import DOCX</button>

      <input type="file" #fileInput hidden (change)="onFileSelected($event)" accept=".docx" />
      <button mat-raised-button class="clear-btn" (click)="clearEditor()">Clear Editor</button>
    </div>

    <button mat-raised-button (click)="exportDocx()">Export DOCX</button>
  </div>

  <div class="superdoc-container">
    <div class="toolbar-wrapper">
      <div id="superdoc-toolbar" class="toolbar-content"></div>
    </div>
    <div id="superdoc"></div>
    <!-- SPELL CHECK POPUP -->
    <div
      class="spell-popup"
      *ngIf="spellPopup.visible"
      [style.left.px]="spellPopup.x"
      [style.top.px]="spellPopup.y"
    >
      <div
        class="spell-item"
        *ngFor="let s of spellPopup.suggestions"
        (click)="replaceMisspelledWord(s)"
      >
        {{ s }}
      </div>
    </div>
  </div>

  <app-loader [loading]="loading"></app-loader>
</mat-card>
