@use '../../../assets/scss/variable' as *;

@font-face {
  font-family: 'Azhagi';
  src: url('/assets/fonts/Azhagi.Com-SaiIndira-Bilingual-PhoneticTransliteration.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-synthesis: none;
}

@font-face {
  font-family: 'Latha';
  src: url('/assets/fonts/latha.ttf') format('truetype');
  font-weight: 300 !important;
  font-style: normal;
}

.add-button {
  // display: flex;
  justify-content: space-between !important;
  // margin-bottom: 12px;
  // gap: 10px;
}

.file-upload-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.clear-btn {
  background-color: $secondary-color !important;

  &:hover {
    background-color: $secondary-light !important;
  }
}

//editor styles

::ng-deep .superdoc__tools {
  display: none !important;
}

.toolbar-wrapper {
  position: sticky;
  top: -3%;
  overflow-x: auto;
  overflow-y: visible;
  // position: relative;
  width: 100%;
  white-space: nowrap;
  background-color: #faf9fd;
  z-index: 9999;
}

::ng-deep .overflow-menu {
  .overflow-menu_items {
    position: absolute;
    top: calc(100% + -40px) !important;
    right: 30px !important;
    z-index: 9999 !important;
  }
}

#superdoc {
  display: flex;
  justify-content: center;
}

@media (max-width: 480px) {
  .add-button {
    display: flex;
    justify-content: center !important;
  }

}

.superdoc-container {
  position: relative;
}

.spell-popup {
  position: fixed;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 10000;
  min-width: 160px;
}

.spell-item {
  padding: 6px 10px;
  cursor: pointer;
}

.spell-item:hover {
  background: #f0f0f0;
}

::ng-deep  .pagination-inner {
  pointer-events: none;
  user-select: none;
  // border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
}