$primary-color: #75151d;
$primary-light: #891b24;
$secondary-color: #7f403d;
$secondary-light: #891b24;

.card {
  background: #fff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 24px;
}

.app-primary-button {
  background-color: $primary-color;
  color: #fff;
  padding: 8px 18px;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  transition: background-color 0.18s ease, transform 0.12s ease, box-shadow 0.18s ease;

  &:hover {
    background-color: $primary-light;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
  }

  &:active {
    transform: translateY(0);
    box-shadow: none;
  }
}

.add-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  gap: 10px;
}

.file-upload-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.clear-btn {
  background-color: $secondary-color !important;

  &:hover {
    background-color: $secondary-light !important;
  }
}

//editor styles

::ng-deep .superdoc__tools {
  display: none !important;
}

.toolbar-wrapper {
  overflow-x: auto;
  overflow-y: visible;
  position: relative;
  width: 100%;
  white-space: nowrap;
}

::ng-deep .overflow-menu {
  .overflow-menu_items {
    position: absolute;
    top: calc(100% + -40px) !important;
    right: 30px !important;
    z-index: 9999 !important;
  }
}

#superdoc {
  display: flex;
  justify-content: center;
}

@media (max-width: 480px) {
  .add-button {
    display: flex;
    justify-content: center !important;
  }

  .app-primary-button {
    padding: 5px 10px !important;
  }
}
