.layout-container {
  height: 100vh;
}

.sidenav {
  width: 240px;
  background-color: #a1144d;
}

mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
   background-color: #af1755;
   color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.content-wrapper {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}

app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

app-footer{
    background: white;
}

::ng-deep mat-nav-list a.mat-mdc-list-item {
  color: white !important; // Applies to the link (may not override inner spans without !important)

  .mat-icon {
    color: white !important;
    position: relative;
    top: 4px; // Aligns the icon vertically with the text
  }

  .mat-mdc-list-item-unscoped-content,
  .mdc-list-item__primary-text {
    color: white !important; // These are the key MDC classes wrapping the text content
  }
}



@media (max-width: 768px) {
  .sidenav {
    width: 200px;
  }

  mat-sidenav {
    mode: over !important;
  }
}
