<mat-sidenav-container class="layout-container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    [ngClass]="{ slim: isSlim }"
    [@sidebarWidth]="isSlim ? 'slim' : 'full'"
    mode="side"
    opened="true"
  >
    <!-- STICKY TOP SECTION -->
    <div class="sidenav-sticky">
      <!-- LOGO -->
      <mat-toolbar class="sidenav-toolbar">
        <a routerLink="/courtcase/allcases">
          <img src="assets/images/logo.png" class="logo" />
        </a>
      </mat-toolbar>
    </div>

    <!-- USER INFO -->
    <div class="user-info">
      <img src="assets/images/avatar.jpg" class="user-avatar" />
      <div class="user-name">Nagapandi G</div>
      <div class="user-role">Admin</div>
    </div>

    <!-- NAVIGATION -->
    <mat-nav-list class="nav-list">
      <ng-template #recursiveMenu let-items let-level="level">
        <ng-container *ngFor="let item of items">
          <!-- ITEM WITHOUT CHILDREN -->
          <a
            *ngIf="!hasChildren(item)"
            mat-list-item
            class="nav-item"
            [ngClass]="['level-' + level, isMenuActive(item) ? 'active' : '']"
            [routerLink]="item.path"
            (click)="$event.stopPropagation()"
          >
            <mat-icon fontSet="material-icons-outlined" class="left-icon">{{
              item.icon || 'folder'
            }}</mat-icon>
            <span class="label">{{ item.title }}</span>
          </a>

          <!-- ITEM WITH CHILDREN -->
          <div *ngIf="hasChildren(item)">
            <mat-list-item
              class="nav-item parent"
              [ngClass]="['level-' + level, isParentActive(item) ? 'active-parent' : '']"
              (click)="toggleMenu(item.id)"
            >
              <mat-icon fontSet="material-icons-outlined" class="left-icon">{{
                item.icon || 'folder'
              }}</mat-icon>
              <span class="label">{{ item.title }}</span>

              <mat-icon fontSet="material-icons-outlined" class="right-icon" *ngIf="!isSlim">
                {{ openMenus[item.id] ? 'expand_more' : 'chevron_right' }}
              </mat-icon>
            </mat-list-item>

            <!-- SUB MENU -->
            <div class="sub-menu" *ngIf="openMenus[item.id] && !isSlim">
              <ng-container
                *ngTemplateOutlet="
                  recursiveMenu;
                  context: { $implicit: item.children, level: level + 1 }
                "
              ></ng-container>
            </div>
          </div>
        </ng-container>
      </ng-template>

      <!-- ROOT MENU CALL -->
      <ng-container
        *ngTemplateOutlet="recursiveMenu; context: { $implicit: menus, level: 1 }"
      ></ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <!-- MAIN CONTENT -->
  <mat-sidenav-content class="main-content">
    <app-header (toggleSidebar)="toggleSidebarMode()"></app-header>
    <div class="content-wrapper">
      <app-breadcrumb></app-breadcrumb>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-loader [loading]="loading"></app-loader>
