@use '../../../assets/scss/variable' as *;

.subheader {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 6px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: $primary-color;
  }
}

.tbl-container {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.disabled {
  opacity: 0.6;
}

::ng-deep .mdc-text-field--disabled {
  -webkit-text-fill-color: rgba(0, 0, 0, 0.87) !important;
}